<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 car-table">

  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{car.Id}} </td>
  </ng-container>

  <ng-container matColumnDef="Make">
    <th mat-header-cell *matHeaderCellDef> Make </th>
    <td mat-cell *matCellDef="let element"> {{car.Make}} </td>
  </ng-container>

  <ng-container matColumnDef="Model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let element"> {{element.Model}} </td>
  </ng-container>

  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{car.ReleaseYear}} </td>
  </ng-container>

  <ng-container matColumnDef="Power">
    <th mat-header-cell *matHeaderCellDef> Power </th>
    <td mat-cell *matCellDef="let element"> {{car.Power}} </td>
  </ng-container>

  <ng-container matColumnDef="Vmax">
    <th mat-header-cell *matHeaderCellDef> Vmax </th>
    <td mat-cell *matCellDef="let element"> {{car.VMax}} </td>
  </ng-container>

  <ng-container matColumnDef="Color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let element"> {{car.Color}} </td>
  </ng-container>

  <ng-container matColumnDef="AmountSeats">
    <th mat-header-cell *matHeaderCellDef> AmountSeats </th>
    <td mat-cell *matCellDef="let element"> {{car.AmountSeats}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>